<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Target Technical Architecture Kobie</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Target Technical Architecture Kobie</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-172951ee33db4669a71e0f109afac1e6.png" alt="Target Technical Architecture Kobie" usemap="#id-172951ee33db4669a71e0f109afac1e6map"/>
			   <map name="id-172951ee33db4669a71e0f109afac1e6map">
				  		<area shape="rect" coords="634,10,754,65" href="../elements/id-d0282aa71df84edf9dcd02e9707246b7.html"  target="element">
				  		<area shape="rect" coords="1438,430,1558,485" href="../elements/id-517d6fc8303d4b448bb12c2af62e8e70.html"  target="element">
				  						<area shape="rect" coords="1014,550,1111,605" href="../elements/id-540689e849584a0ea89bc20eb8a0dd32.html"  target="element">

				  				<area shape="rect" coords="1002,502,1122,635" href="../elements/id-0ae3db92faf343f8b67025025ad73696.html"  target="element">
				  						<area shape="rect" coords="1001,190,1121,245" href="../elements/id-8b66edc644bb41a8ba34056d17fb0b95.html"  target="element">

				  				<area shape="rect" coords="989,154,1134,263" href="../elements/id-fbf09d9c7b1943b68f8133b11451f845.html"  target="element">

				  		<area shape="rect" coords="977,94,1147,731" href="../elements/id-2a313c102cd945a2907b09fbaf43ff85.html"  target="element">
				  						<area shape="rect" coords="1249,310,1369,365" href="../elements/id-59c0275cc51e40df851fad030b5e35a1.html"  target="element">

				  				<area shape="rect" coords="1237,286,1382,371" href="../elements/id-cecfd621410241f380cc109da42e13cc.html"  target="element">
				  						<area shape="rect" coords="1249,454,1346,494" href="../elements/id-eafa59f2412945e48f5181ae77aac5e9.html"  target="element">

				  				<area shape="rect" coords="1237,430,1357,503" href="../elements/id-849fa68e62774918a1b73785222b4eba.html"  target="element">
				  						<area shape="rect" coords="1249,190,1358,239" href="../elements/id-2a3d7c9f82444336890345c9d03f0e5c.html"  target="element">

				  				<area shape="rect" coords="1237,154,1369,263" href="../elements/id-f125007ef54341f19470e45ddeb38bc8.html"  target="element">

				  		<area shape="rect" coords="1213,94,1391,731" href="../elements/id-ba57e0a98dbe4dbd92d851760903476c.html"  target="element">
				  						<area shape="rect" coords="734,646,842,701" href="../elements/id-271cb5165b604c1b9d0fa6055a9e131a.html"  target="element">

				  				<area shape="rect" coords="722,610,854,719" href="../elements/id-5abd9907bb13400fa775251f78e13fcc.html"  target="element">
				  						<area shape="rect" coords="746,394,833,515" href="../elements/id-96a0167017fe4d4f8f6c4a66e52ea28e.html"  target="element">

				  				<area shape="rect" coords="722,346,854,551" href="../elements/id-e657f418441348748afa635da392bcad.html"  target="element">

				  		<area shape="rect" coords="686,94,911,731" href="../elements/id-caba2843fe334f1cbfaf26fdcb6b772b.html"  target="element">
				  				<area shape="rect" coords="46,46,179,101" href="../elements/id-b87072a44d6a476bb014e2710636fe37.html"  target="element">
				  						<area shape="rect" coords="46,646,142,683" href="../elements/id-b152f4633a7a482db70b260d19520edf.html"  target="element">

				  				<area shape="rect" coords="34,610,166,695" href="../elements/id-f93bc4a5a816463aa94f87c5f4e00bba.html"  target="element">
				  						<area shape="rect" coords="442,286,550,341" href="../elements/id-d6bcc7c507c14e159152a73e5c0cdb49.html"  target="element">

				  				<area shape="rect" coords="418,262,575,359" href="../elements/id-f64f8135c4054597832736e7c1a74200.html"  target="element">
				  						<area shape="rect" coords="46,514,154,569" href="../elements/id-9d86a2fe8cf7496588bd4679536cea98.html"  target="element">

				  				<area shape="rect" coords="34,490,166,587" href="../elements/id-20c9c7e0669a4788953e6de83aea0a6f.html"  target="element">
				  						<area shape="rect" coords="58,250,167,287" href="../elements/id-80223a11112942f6b078767dbfbadf5e.html"  target="element">

				  				<area shape="rect" coords="46,226,179,299" href="../elements/id-063e7018bb524e678d7ccdc9d28d01b4.html"  target="element">
				  						<area shape="rect" coords="58,166,167,203" href="../elements/id-2a3d7c9f82444336890345c9d03f0e5c.html"  target="element">

				  				<area shape="rect" coords="46,130,179,215" href="../elements/id-7adf6687a08e489c9034fab5b1f0b5f9.html"  target="element">
				  						<area shape="rect" coords="58,382,155,437" href="../elements/id-a51ca27289f54fe1bca0b8d4d22d1eb2.html"  target="element">

				  				<area shape="rect" coords="46,346,166,467" href="../elements/id-d51a64f2409342d38aa121e4df7965a9.html"  target="element">
				  						<area shape="rect" coords="250,394,338,563" href="../elements/id-540689e849584a0ea89bc20eb8a0dd32.html"  target="element">

				  				<area shape="rect" coords="238,346,358,695" href="../elements/id-5f7a73c00c194f94bd6123329c7bc330.html"  target="element">

				  		<area shape="rect" coords="10,22,607,731" href="../elements/id-98bda62968894a1ba1072a6299794cba.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-98bda62968894a1ba1072a6299794cba.html" target="element"> Internet </a> </td>
											    <td> <a href="../elements/id-98bda62968894a1ba1072a6299794cba.html" target="element" class="i18n-elementtype-CommunicationNetwork">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-5f7a73c00c194f94bd6123329c7bc330.html" target="element"> Talend Cloud Server </a> </td>
													    <td> <a href="../elements/id-5f7a73c00c194f94bd6123329c7bc330.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-540689e849584a0ea89bc20eb8a0dd32.html" target="element"> Talend Data Fabric </a> </td>
															    <td> <a href="../elements/id-540689e849584a0ea89bc20eb8a0dd32.html" target="element" class="i18n-elementtype-SystemSoftware">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-d51a64f2409342d38aa121e4df7965a9.html" target="element"> ADP Server </a> </td>
													    <td> <a href="../elements/id-d51a64f2409342d38aa121e4df7965a9.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-a51ca27289f54fe1bca0b8d4d22d1eb2.html" target="element"> ADP Workforce Now </a> </td>
															    <td> <a href="../elements/id-a51ca27289f54fe1bca0b8d4d22d1eb2.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-7adf6687a08e489c9034fab5b1f0b5f9.html" target="element"> Square Server </a> </td>
													    <td> <a href="../elements/id-7adf6687a08e489c9034fab5b1f0b5f9.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-2a3d7c9f82444336890345c9d03f0e5c.html" target="element"> Square Point of Sale </a> </td>
															    <td> <a href="../elements/id-2a3d7c9f82444336890345c9d03f0e5c.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-063e7018bb524e678d7ccdc9d28d01b4.html" target="element"> Shopify Server </a> </td>
													    <td> <a href="../elements/id-063e7018bb524e678d7ccdc9d28d01b4.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-80223a11112942f6b078767dbfbadf5e.html" target="element"> Shopify </a> </td>
															    <td> <a href="../elements/id-80223a11112942f6b078767dbfbadf5e.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-20c9c7e0669a4788953e6de83aea0a6f.html" target="element"> Adobe Server </a> </td>
													    <td> <a href="../elements/id-20c9c7e0669a4788953e6de83aea0a6f.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-9d86a2fe8cf7496588bd4679536cea98.html" target="element"> Adobe Experience Cloud </a> </td>
															    <td> <a href="../elements/id-9d86a2fe8cf7496588bd4679536cea98.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-f64f8135c4054597832736e7c1a74200.html" target="element"> Smartphone </a> </td>
													    <td> <a href="../elements/id-f64f8135c4054597832736e7c1a74200.html" target="element" class="i18n-elementtype-Device">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-d6bcc7c507c14e159152a73e5c0cdb49.html" target="element"> RetailOne Mobile Application </a> </td>
															    <td> <a href="../elements/id-d6bcc7c507c14e159152a73e5c0cdb49.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-f93bc4a5a816463aa94f87c5f4e00bba.html" target="element"> Zendesk Server </a> </td>
													    <td> <a href="../elements/id-f93bc4a5a816463aa94f87c5f4e00bba.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-b152f4633a7a482db70b260d19520edf.html" target="element"> Zendesk </a> </td>
															    <td> <a href="../elements/id-b152f4633a7a482db70b260d19520edf.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-b87072a44d6a476bb014e2710636fe37.html" target="element"> Partner Node </a> </td>
													    <td> <a href="../elements/id-b87072a44d6a476bb014e2710636fe37.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-caba2843fe334f1cbfaf26fdcb6b772b.html" target="element"> Azure VPC </a> </td>
											    <td> <a href="../elements/id-caba2843fe334f1cbfaf26fdcb6b772b.html" target="element" class="i18n-elementtype-CommunicationNetwork">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-e657f418441348748afa635da392bcad.html" target="element"> RetailOne Server </a> </td>
													    <td> <a href="../elements/id-e657f418441348748afa635da392bcad.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-96a0167017fe4d4f8f6c4a66e52ea28e.html" target="element"> Kobie </a> </td>
															    <td> <a href="../elements/id-96a0167017fe4d4f8f6c4a66e52ea28e.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-5abd9907bb13400fa775251f78e13fcc.html" target="element"> Treasure Data Server </a> </td>
													    <td> <a href="../elements/id-5abd9907bb13400fa775251f78e13fcc.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-271cb5165b604c1b9d0fa6055a9e131a.html" target="element"> Treasure Data </a> </td>
															    <td> <a href="../elements/id-271cb5165b604c1b9d0fa6055a9e131a.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-ba57e0a98dbe4dbd92d851760903476c.html" target="element"> WAN </a> </td>
											    <td> <a href="../elements/id-ba57e0a98dbe4dbd92d851760903476c.html" target="element" class="i18n-elementtype-CommunicationNetwork">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-f125007ef54341f19470e45ddeb38bc8.html" target="element"> POS Terminal </a> </td>
													    <td> <a href="../elements/id-f125007ef54341f19470e45ddeb38bc8.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-2a3d7c9f82444336890345c9d03f0e5c.html" target="element"> Square Point of Sale </a> </td>
															    <td> <a href="../elements/id-2a3d7c9f82444336890345c9d03f0e5c.html" target="element" class="i18n-elementtype-ApplicationComponent">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-849fa68e62774918a1b73785222b4eba.html" target="element"> Laptop </a> </td>
													    <td> <a href="../elements/id-849fa68e62774918a1b73785222b4eba.html" target="element" class="i18n-elementtype-Device">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-eafa59f2412945e48f5181ae77aac5e9.html" target="element"> Chrome Navigator </a> </td>
															    <td> <a href="../elements/id-eafa59f2412945e48f5181ae77aac5e9.html" target="element" class="i18n-elementtype-SystemSoftware">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-cecfd621410241f380cc109da42e13cc.html" target="element"> AD Server </a> </td>
													    <td> <a href="../elements/id-cecfd621410241f380cc109da42e13cc.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-59c0275cc51e40df851fad030b5e35a1.html" target="element"> Microsoft Active Directory </a> </td>
															    <td> <a href="../elements/id-59c0275cc51e40df851fad030b5e35a1.html" target="element" class="i18n-elementtype-SystemSoftware">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-2a313c102cd945a2907b09fbaf43ff85.html" target="element"> DMZ </a> </td>
											    <td> <a href="../elements/id-2a313c102cd945a2907b09fbaf43ff85.html" target="element" class="i18n-elementtype-CommunicationNetwork">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-fbf09d9c7b1943b68f8133b11451f845.html" target="element"> MFT Server </a> </td>
													    <td> <a href="../elements/id-fbf09d9c7b1943b68f8133b11451f845.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-8b66edc644bb41a8ba34056d17fb0b95.html" target="element"> Axway MFT </a> </td>
															    <td> <a href="../elements/id-8b66edc644bb41a8ba34056d17fb0b95.html" target="element" class="i18n-elementtype-SystemSoftware">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-0ae3db92faf343f8b67025025ad73696.html" target="element"> Talend DMZ Server </a> </td>
													    <td> <a href="../elements/id-0ae3db92faf343f8b67025025ad73696.html" target="element" class="i18n-elementtype-Node">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-540689e849584a0ea89bc20eb8a0dd32.html" target="element"> Talend Data Fabric </a> </td>
															    <td> <a href="../elements/id-540689e849584a0ea89bc20eb8a0dd32.html" target="element" class="i18n-elementtype-SystemSoftware">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-517d6fc8303d4b448bb12c2af62e8e70.html" target="element"> Corporate Employees </a> </td>
											    <td> <a href="../elements/id-517d6fc8303d4b448bb12c2af62e8e70.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d0282aa71df84edf9dcd02e9707246b7.html" target="element"> Customers </a> </td>
											    <td> <a href="../elements/id-d0282aa71df84edf9dcd02e9707246b7.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-2cacac4dbcac4a7abbffd1821a3fdd94.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2cacac4dbcac4a7abbffd1821a3fdd94.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-98bda62968894a1ba1072a6299794cba.html" target="element"> Internet </a> </td>
																		<td> <a href="../elements/id-5f7a73c00c194f94bd6123329c7bc330.html" target="element"> Talend Cloud Server </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-73bc8bc92578445f993044c592dcaaf9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-73bc8bc92578445f993044c592dcaaf9.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-98bda62968894a1ba1072a6299794cba.html" target="element"> Internet </a> </td>
																		<td> <a href="../elements/id-d51a64f2409342d38aa121e4df7965a9.html" target="element"> ADP Server </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2b4d64392fbc4a40809a8fd3fdf535fa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2b4d64392fbc4a40809a8fd3fdf535fa.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-98bda62968894a1ba1072a6299794cba.html" target="element"> Internet </a> </td>
																		<td> <a href="../elements/id-7adf6687a08e489c9034fab5b1f0b5f9.html" target="element"> Square Server </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d53ad074e28548ae976eb606773a7e36.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d53ad074e28548ae976eb606773a7e36.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-98bda62968894a1ba1072a6299794cba.html" target="element"> Internet </a> </td>
																		<td> <a href="../elements/id-063e7018bb524e678d7ccdc9d28d01b4.html" target="element"> Shopify Server </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ff7ab248ecc84dfbbb17ee948da8d7b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ff7ab248ecc84dfbbb17ee948da8d7b0.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-98bda62968894a1ba1072a6299794cba.html" target="element"> Internet </a> </td>
																		<td> <a href="../elements/id-20c9c7e0669a4788953e6de83aea0a6f.html" target="element"> Adobe Server </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d818432d4b044a81bad03a901c89e0e2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d818432d4b044a81bad03a901c89e0e2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-98bda62968894a1ba1072a6299794cba.html" target="element"> Internet </a> </td>
																		<td> <a href="../elements/id-f64f8135c4054597832736e7c1a74200.html" target="element"> Smartphone </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-790e51e167954edfa53cda2ba9d8f4c3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-790e51e167954edfa53cda2ba9d8f4c3.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-98bda62968894a1ba1072a6299794cba.html" target="element"> Internet </a> </td>
																		<td> <a href="../elements/id-f93bc4a5a816463aa94f87c5f4e00bba.html" target="element"> Zendesk Server </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-14fcf8784cee4c38a6e942635501df4b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-14fcf8784cee4c38a6e942635501df4b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-98bda62968894a1ba1072a6299794cba.html" target="element"> Internet </a> </td>
																		<td> <a href="../elements/id-b87072a44d6a476bb014e2710636fe37.html" target="element"> Partner Node </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-45f3c6194a414285afa2784f00aede52.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-45f3c6194a414285afa2784f00aede52.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5f7a73c00c194f94bd6123329c7bc330.html" target="element"> Talend Cloud Server </a> </td>
																				<td> <a href="../elements/id-540689e849584a0ea89bc20eb8a0dd32.html" target="element"> Talend Data Fabric </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a12b0338a6ab411e8511f3f05ac6e83f.html" target="element"> NHE + CT </a> </td>
																				<td> <a href="../elements/id-a12b0338a6ab411e8511f3f05ac6e83f.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5f7a73c00c194f94bd6123329c7bc330.html" target="element"> Talend Cloud Server </a> </td>
																				<td> <a href="../elements/id-e657f418441348748afa635da392bcad.html" target="element"> RetailOne Server </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-941ae3015b0e45599a21d97d9f7f902f.html" target="element"> Customer segment </a> </td>
																				<td> <a href="../elements/id-941ae3015b0e45599a21d97d9f7f902f.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5f7a73c00c194f94bd6123329c7bc330.html" target="element"> Talend Cloud Server </a> </td>
																				<td> <a href="../elements/id-e657f418441348748afa635da392bcad.html" target="element"> RetailOne Server </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8f8c1e97a989454590ef66d8aa77c680.html" target="element"> New Customer Loyalty Tier </a> </td>
																				<td> <a href="../elements/id-8f8c1e97a989454590ef66d8aa77c680.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5f7a73c00c194f94bd6123329c7bc330.html" target="element"> Talend Cloud Server </a> </td>
																				<td> <a href="../elements/id-20c9c7e0669a4788953e6de83aea0a6f.html" target="element"> Adobe Server </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-21128d794cfe419989a7940e82223701.html" target="element"> Request loyalty data </a> </td>
																				<td> <a href="../elements/id-21128d794cfe419989a7940e82223701.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5f7a73c00c194f94bd6123329c7bc330.html" target="element"> Talend Cloud Server </a> </td>
																				<td> <a href="../elements/id-e657f418441348748afa635da392bcad.html" target="element"> RetailOne Server </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-9a1a396dda4b4bc8afb992bc44a67ee3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9a1a396dda4b4bc8afb992bc44a67ee3.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d51a64f2409342d38aa121e4df7965a9.html" target="element"> ADP Server </a> </td>
																				<td> <a href="../elements/id-a51ca27289f54fe1bca0b8d4d22d1eb2.html" target="element"> ADP Workforce Now </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-bfa89b5d98344f03a83629ccfdfa936c.html" target="element"> Send new hire + termination </a> </td>
																				<td> <a href="../elements/id-bfa89b5d98344f03a83629ccfdfa936c.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-d51a64f2409342d38aa121e4df7965a9.html" target="element"> ADP Server </a> </td>
																				<td> <a href="../elements/id-5f7a73c00c194f94bd6123329c7bc330.html" target="element"> Talend Cloud Server </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-4f7a2db9cf4e4862975ca71f4b58d78b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4f7a2db9cf4e4862975ca71f4b58d78b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7adf6687a08e489c9034fab5b1f0b5f9.html" target="element"> Square Server </a> </td>
																				<td> <a href="../elements/id-2a3d7c9f82444336890345c9d03f0e5c.html" target="element"> Square Point of Sale </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-cc232784d07b4afdae549c620b56a7fe.html" target="element"> Send transactions </a> </td>
																				<td> <a href="../elements/id-cc232784d07b4afdae549c620b56a7fe.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-7adf6687a08e489c9034fab5b1f0b5f9.html" target="element"> Square Server </a> </td>
																				<td> <a href="../elements/id-fbf09d9c7b1943b68f8133b11451f845.html" target="element"> MFT Server </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-6c4598cc879345f1ad1453d34444050b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6c4598cc879345f1ad1453d34444050b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-063e7018bb524e678d7ccdc9d28d01b4.html" target="element"> Shopify Server </a> </td>
																				<td> <a href="../elements/id-80223a11112942f6b078767dbfbadf5e.html" target="element"> Shopify </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b8c02a0707dc422fac4e16f07ce8bb89.html" target="element"> Send ecommerce transactions </a> </td>
																				<td> <a href="../elements/id-b8c02a0707dc422fac4e16f07ce8bb89.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-063e7018bb524e678d7ccdc9d28d01b4.html" target="element"> Shopify Server </a> </td>
																				<td> <a href="../elements/id-fbf09d9c7b1943b68f8133b11451f845.html" target="element"> MFT Server </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-275163542df54628924a6b1b9a08ced1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-275163542df54628924a6b1b9a08ced1.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-20c9c7e0669a4788953e6de83aea0a6f.html" target="element"> Adobe Server </a> </td>
																				<td> <a href="../elements/id-9d86a2fe8cf7496588bd4679536cea98.html" target="element"> Adobe Experience Cloud </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b41fdb7cad694d938f1146930d0fe8bb.html" target="element"> Customer segment </a> </td>
																				<td> <a href="../elements/id-b41fdb7cad694d938f1146930d0fe8bb.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-20c9c7e0669a4788953e6de83aea0a6f.html" target="element"> Adobe Server </a> </td>
																				<td> <a href="../elements/id-5f7a73c00c194f94bd6123329c7bc330.html" target="element"> Talend Cloud Server </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-ce33cf9e4c9f4d6d82e5f1b0d857023a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ce33cf9e4c9f4d6d82e5f1b0d857023a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f64f8135c4054597832736e7c1a74200.html" target="element"> Smartphone </a> </td>
																				<td> <a href="../elements/id-d6bcc7c507c14e159152a73e5c0cdb49.html" target="element"> RetailOne Mobile Application </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0136ce6e694b47ffa98f77aa5b5dd506.html" target="element"> Request loyalty data </a> </td>
																				<td> <a href="../elements/id-0136ce6e694b47ffa98f77aa5b5dd506.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f64f8135c4054597832736e7c1a74200.html" target="element"> Smartphone </a> </td>
																				<td> <a href="../elements/id-e657f418441348748afa635da392bcad.html" target="element"> RetailOne Server </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-a51f414126574b3eb84b0dc40533dec6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a51f414126574b3eb84b0dc40533dec6.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f93bc4a5a816463aa94f87c5f4e00bba.html" target="element"> Zendesk Server </a> </td>
																				<td> <a href="../elements/id-b152f4633a7a482db70b260d19520edf.html" target="element"> Zendesk </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-9db08bdda706428989aa5d31fefaf947.html" target="element"> request loyalty data </a> </td>
																				<td> <a href="../elements/id-9db08bdda706428989aa5d31fefaf947.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f93bc4a5a816463aa94f87c5f4e00bba.html" target="element"> Zendesk Server </a> </td>
																				<td> <a href="../elements/id-5f7a73c00c194f94bd6123329c7bc330.html" target="element"> Talend Cloud Server </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-d55a706b111d4b4bbb51b255f0bb29af.html" target="element"> Request loyalty data </a> </td>
																				<td> <a href="../elements/id-d55a706b111d4b4bbb51b255f0bb29af.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b87072a44d6a476bb014e2710636fe37.html" target="element"> Partner Node </a> </td>
																				<td> <a href="../elements/id-fbf09d9c7b1943b68f8133b11451f845.html" target="element"> MFT Server </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-537eda2bce204f68ad06828450f15e5c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-537eda2bce204f68ad06828450f15e5c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-caba2843fe334f1cbfaf26fdcb6b772b.html" target="element"> Azure VPC </a> </td>
																		<td> <a href="../elements/id-e657f418441348748afa635da392bcad.html" target="element"> RetailOne Server </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ac84f0b19bdc4d4e9cd6699b32cc7d2c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ac84f0b19bdc4d4e9cd6699b32cc7d2c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-caba2843fe334f1cbfaf26fdcb6b772b.html" target="element"> Azure VPC </a> </td>
																		<td> <a href="../elements/id-5abd9907bb13400fa775251f78e13fcc.html" target="element"> Treasure Data Server </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-5508f2d76d924a699fa88c92f00e8636.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5508f2d76d924a699fa88c92f00e8636.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e657f418441348748afa635da392bcad.html" target="element"> RetailOne Server </a> </td>
																				<td> <a href="../elements/id-96a0167017fe4d4f8f6c4a66e52ea28e.html" target="element"> Kobie </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a6dfe80811fd49fd83e81042e61b7f7c.html" target="element"> New customer loyalty tier </a> </td>
																				<td> <a href="../elements/id-a6dfe80811fd49fd83e81042e61b7f7c.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e657f418441348748afa635da392bcad.html" target="element"> RetailOne Server </a> </td>
																				<td> <a href="../elements/id-5f7a73c00c194f94bd6123329c7bc330.html" target="element"> Talend Cloud Server </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d579c351fd1149958dc7a4e527833963.html" target="element"> Send loyalty data </a> </td>
																				<td> <a href="../elements/id-d579c351fd1149958dc7a4e527833963.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e657f418441348748afa635da392bcad.html" target="element"> RetailOne Server </a> </td>
																				<td> <a href="../elements/id-fbf09d9c7b1943b68f8133b11451f845.html" target="element"> MFT Server </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ae406c9f37fb4fcd8ea086df0e4ec9d8.html" target="element"> Request user identity </a> </td>
																				<td> <a href="../elements/id-ae406c9f37fb4fcd8ea086df0e4ec9d8.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-e657f418441348748afa635da392bcad.html" target="element"> RetailOne Server </a> </td>
																				<td> <a href="../elements/id-cecfd621410241f380cc109da42e13cc.html" target="element"> AD Server </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-268621894ff746a18246b79a93011e01.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-268621894ff746a18246b79a93011e01.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5abd9907bb13400fa775251f78e13fcc.html" target="element"> Treasure Data Server </a> </td>
																				<td> <a href="../elements/id-271cb5165b604c1b9d0fa6055a9e131a.html" target="element"> Treasure Data </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e9b077eb9f604682a217bf63512fc4a8.html" target="element"> Unified Customer Profiles </a> </td>
																				<td> <a href="../elements/id-e9b077eb9f604682a217bf63512fc4a8.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-5abd9907bb13400fa775251f78e13fcc.html" target="element"> Treasure Data Server </a> </td>
																				<td> <a href="../elements/id-0ae3db92faf343f8b67025025ad73696.html" target="element"> Talend DMZ Server </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-b85ee9bbd6e7458f8cb86857f6174933.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b85ee9bbd6e7458f8cb86857f6174933.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ba57e0a98dbe4dbd92d851760903476c.html" target="element"> WAN </a> </td>
																		<td> <a href="../elements/id-f125007ef54341f19470e45ddeb38bc8.html" target="element"> POS Terminal </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a5076d4e71964e118222999c9ab0732d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a5076d4e71964e118222999c9ab0732d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ba57e0a98dbe4dbd92d851760903476c.html" target="element"> WAN </a> </td>
																		<td> <a href="../elements/id-849fa68e62774918a1b73785222b4eba.html" target="element"> Laptop </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c47f6cbbca8b4a56b57ce90ebf0afc6d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c47f6cbbca8b4a56b57ce90ebf0afc6d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ba57e0a98dbe4dbd92d851760903476c.html" target="element"> WAN </a> </td>
																		<td> <a href="../elements/id-cecfd621410241f380cc109da42e13cc.html" target="element"> AD Server </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-cdab25dfb2ee46fe8b2486ba73c6cb56.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cdab25dfb2ee46fe8b2486ba73c6cb56.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f125007ef54341f19470e45ddeb38bc8.html" target="element"> POS Terminal </a> </td>
																				<td> <a href="../elements/id-2a3d7c9f82444336890345c9d03f0e5c.html" target="element"> Square Point of Sale </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0da86569ebf24b00a6cb7da3f56a2d17.html" target="element"> Send transactions </a> </td>
																				<td> <a href="../elements/id-0da86569ebf24b00a6cb7da3f56a2d17.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-f125007ef54341f19470e45ddeb38bc8.html" target="element"> POS Terminal </a> </td>
																				<td> <a href="../elements/id-7adf6687a08e489c9034fab5b1f0b5f9.html" target="element"> Square Server </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-120eb725b9974c3d8460335a6493f29e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-120eb725b9974c3d8460335a6493f29e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-849fa68e62774918a1b73785222b4eba.html" target="element"> Laptop </a> </td>
																				<td> <a href="../elements/id-e657f418441348748afa635da392bcad.html" target="element"> RetailOne Server </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0ca50c1ade5a4b9dbfa76083c0446b63.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0ca50c1ade5a4b9dbfa76083c0446b63.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-849fa68e62774918a1b73785222b4eba.html" target="element"> Laptop </a> </td>
																				<td> <a href="../elements/id-eafa59f2412945e48f5181ae77aac5e9.html" target="element"> Chrome Navigator </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-6dc1e6c459154d87bbaa6bdd213853cb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6dc1e6c459154d87bbaa6bdd213853cb.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-cecfd621410241f380cc109da42e13cc.html" target="element"> AD Server </a> </td>
																				<td> <a href="../elements/id-59c0275cc51e40df851fad030b5e35a1.html" target="element"> Microsoft Active Directory </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-f3bacf387afe4a88a477cfe1f2d2c294.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f3bacf387afe4a88a477cfe1f2d2c294.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2a313c102cd945a2907b09fbaf43ff85.html" target="element"> DMZ </a> </td>
																		<td> <a href="../elements/id-fbf09d9c7b1943b68f8133b11451f845.html" target="element"> MFT Server </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b19c8470d73c487ab7665764f3147f51.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b19c8470d73c487ab7665764f3147f51.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2a313c102cd945a2907b09fbaf43ff85.html" target="element"> DMZ </a> </td>
																		<td> <a href="../elements/id-0ae3db92faf343f8b67025025ad73696.html" target="element"> Talend DMZ Server </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-636cd35d636b4b39af737fee183c1e37.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-636cd35d636b4b39af737fee183c1e37.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-fbf09d9c7b1943b68f8133b11451f845.html" target="element"> MFT Server </a> </td>
																				<td> <a href="../elements/id-8b66edc644bb41a8ba34056d17fb0b95.html" target="element"> Axway MFT </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3e052d43222143ecb06bcf796c80a7bb.html" target="element"> Send ecommerce transactions </a> </td>
																				<td> <a href="../elements/id-3e052d43222143ecb06bcf796c80a7bb.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-fbf09d9c7b1943b68f8133b11451f845.html" target="element"> MFT Server </a> </td>
																				<td> <a href="../elements/id-e657f418441348748afa635da392bcad.html" target="element"> RetailOne Server </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-cafac994f6ce473fa1f2d8446574bcf0.html" target="element"> Send transactions </a> </td>
																				<td> <a href="../elements/id-cafac994f6ce473fa1f2d8446574bcf0.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-fbf09d9c7b1943b68f8133b11451f845.html" target="element"> MFT Server </a> </td>
																				<td> <a href="../elements/id-e657f418441348748afa635da392bcad.html" target="element"> RetailOne Server </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-f841568ebfc244d584d071e52ed4fd4b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f841568ebfc244d584d071e52ed4fd4b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0ae3db92faf343f8b67025025ad73696.html" target="element"> Talend DMZ Server </a> </td>
																				<td> <a href="../elements/id-540689e849584a0ea89bc20eb8a0dd32.html" target="element"> Talend Data Fabric </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4ca94f680a164e978d1b769214565c80.html" target="element"> Unified Customer Profiles </a> </td>
																				<td> <a href="../elements/id-4ca94f680a164e978d1b769214565c80.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-0ae3db92faf343f8b67025025ad73696.html" target="element"> Talend DMZ Server </a> </td>
																				<td> <a href="../elements/id-e657f418441348748afa635da392bcad.html" target="element"> RetailOne Server </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-61c7652a2b7a4d25a2c98fbb5720ff12.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-61c7652a2b7a4d25a2c98fbb5720ff12.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-517d6fc8303d4b448bb12c2af62e8e70.html" target="element"> Corporate Employees </a> </td>
																		<td> <a href="../elements/id-849fa68e62774918a1b73785222b4eba.html" target="element"> Laptop </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5437fbab7be145499c730887378e061f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5437fbab7be145499c730887378e061f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d0282aa71df84edf9dcd02e9707246b7.html" target="element"> Customers </a> </td>
																		<td> <a href="../elements/id-f64f8135c4054597832736e7c1a74200.html" target="element"> Smartphone </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>